
.contenedor {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
h2 {
    color: #333;
}

input[type="number"] {
    margin-right: 10px;
    padding: 10px;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #29b8e5;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #186a83;
}

img {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}
