<!-- Contenedor principal -->
<div class="d-flex flex-column align-items-center text-center contenedor">
    <!-- Título -->
    <h2>¿Cuántas fotos de perros quieres?</h2>
    <!-- Entrada de número de fotos -->
    <div>
        <input type="number" [(ngModel)]="cantidad" placeholder="Número de fotos" aria-label="Número de fotos">
        <!-- Botón para buscar fotos -->
        <button (click)="buscarPerros()">Buscar</button>
    </div>
    
    <!-- Verifica si hay fotos de perros disponibles -->
    @if (this.perros) {
        <!-- Bucle para mostrar las fotos de perros -->
        @for (perro of perros.data ; track perro) {
            <!-- Imagen del perro -->
            <img [src]="perro" alt="Perro">
        }
    }
</div>
