:host {
     display: block;
     grid-area: header;
     width: auto;
     position: sticky;
     top: 0;
     z-index: 5;
}
li{
     margin-right: 1em;
}
.nav-link{
     color: white;
}
.btn-outline-success {
     border-color: #29b8e5;
}
.btn-outline-success:hover {
     background-color: #29b8e5;
}