<section>
    <button (click)="openNewWindow()">Open New Window</button>
    <button (click)="alertaVentana()">Window Alert</button>
    <button (click)="confirmVentana()">Window Confirm</button>
    <button (click)="blurVentana()">Window Blur</button>
    <button (click)="closeWindow()">Close Window</button>
    <button (click)="pararVentana()">Stop Window</button>
    <button (click)="moverVentanaTo()">MoveTo Window</button>
    <button (click)="moverVentanaBy()">MoveBy Window</button>
    <button (click)="redimensionarVentanaTo()">ResizeTo Window</button>
    <button (click)="redimensionarVentanaBy()">ResizeBy Window</button>
    <button (click)="scrollVentana()">Scroll Window</button>
    <button (click)="scrollVentanaTo()">ScrollTo Window</button>
    <button (click)="printVentana()">Print Window</button>
    <button (click)="pedirValor()">Prompt</button>
</section>