<!-- Sección con botones para interactuar con la ventana emergente -->
<section>
    <!-- Botón para abrir una nueva ventana -->
    <button (click)="openNewWindow()">Open New Window</button>
    <!-- Botón para mostrar una alerta en la ventana emergente -->
    <button (click)="alertaVentana()">Window Alert</button>
    <!-- Botón para mostrar un cuadro de diálogo de confirmación en la ventana emergente -->
    <button (click)="confirmVentana()">Window Confirm</button>
    <!-- Botón para desenfocar la ventana emergente -->
    <button (click)="blurVentana()">Window Blur</button>
    <!-- Botón para cerrar la ventana emergente -->
    <button (click)="closeWindow()">Close Window</button>
    <!-- Botón para detener la carga de la ventana emergente -->
    <button (click)="pararVentana()">Stop Window</button>
    <!-- Botón para mover la ventana emergente a una posición específica -->
    <button (click)="moverVentanaTo()">MoveTo Window</button>
    <!-- Botón para mover la ventana emergente una cierta cantidad de píxeles -->
    <button (click)="moverVentanaBy()">MoveBy Window</button>
    <!-- Botón para redimensionar la ventana emergente a un tamaño específico -->
    <button (click)="redimensionarVentanaTo()">ResizeTo Window</button>
    <!-- Botón para redimensionar la ventana emergente una cierta cantidad de píxeles -->
    <button (click)="redimensionarVentanaBy()">ResizeBy Window</button>
    <!-- Botón para desplazar la ventana emergente una cierta cantidad de píxeles -->
    <button (click)="scrollVentana()">Scroll Window</button>
    <!-- Botón para desplazar la ventana emergente a una posición específica -->
    <button (click)="scrollVentanaTo()">ScrollTo Window</button>
    <!-- Botón para imprimir el contenido de la ventana emergente -->
    <button (click)="printVentana()">Print Window</button>
    <!-- Botón para solicitar un valor al usuario mediante un cuadro de diálogo -->
    <button (click)="pedirValor()">Prompt</button>
</section>
